* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
    overflow: hidden;
}

.hamburger {
    display: none;
}

.nav {
    background: #fff;
    height: 70px;
    max-height: 70px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link {
    text-decoration: none;
    margin-left: 3em;
    color: #020202;
    font-size: 15px;
}

.nav__title {
    text-align: center;
    font-weight: 700; 
}

.nav__user--signin {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}

/* Hero */

.hero {
    height: 100vh;
    min-height: 500px;
    position: relative;
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    height: 25em;
    width: 100%;
    bottom: 0;
    left: 0;
  
    background: #2a3780;
    z-index: -1;
    clip-path: polygon(58.5% 67%, 94% 64.3%, 100% 54.8%, 100% 100%, 0% 100%, 0% 90.5%, 25.8% 68.8%);
}

.hero__container {
    display: grid;
    width: 95%;
    height: 100%;
    grid-template-columns: 3fr 3fr;
    place-items: center;
    gap: 20px;
}

.hero__title {
    font-size: 3rem;
}

.title--color {
    color: #4c63e6;
}

.hero__text {
    font-size: 1.2rem;
    margin: 20px 0;
}

.hero__cta {
    display: inline-block;
    background-color: #3f52bf;
    color: #f3f0f0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

.hero__img {
    width: 95%;
}

/* Services */

.services {
    display: grid;
    height: 500px;
    grid-template-columns: 3fr 2fr;
    place-items: start center;
    gap: 20px;
}

.services__title {
    font-size: 2rem;
}

.services__text {
    font-size: 1.2rem;
    margin: 20px 0;
}

.services__cta {
    display: inline-block;
    background-color: #3f52bf;
    color: #f3f0f0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

.footer__paragraph {
    text-align: center;
    font-style: italic;
    color: #fc3838;
}

/* Breakpoints responsive */

@media screen and (max-width:800px) {
    .hamburger {
        display: block;
        font-size: 1.5rem;
    }

    .nav__links {
        position: fixed;
        background: #151b40;
        background-image: linear-gradient(to bottom, #151b40, #212c66, #2e3e8f, #3c50b9, #4c63e6);
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);
    }

    .nav__user {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .nav {
    padding: 0 30px;
    }

    .hero {
        max-height: 90vh;
    }

    .hero__title {
        font-size: 2rem;
    }
    
    .container {
        width: 80%;
    }

    .hero__text {
        font-size: 1rem;
    }

    .hero__container {
        grid-template-columns: 1fr;
        gap: 1rem;
        height: 90vh;
    }

    .hero__img {
        width: 80%;
    }

    .services {
        grid-template-columns: 1fr;
    }

    .services__title {
        font-size: 1.5rem;
        padding-top: 1.8rem;
    }
    
    .services__text {
        font-size: 1rem;
    }
}