* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 95%;
    margin: auto;
}

.nav {
    background: #fff;
    height: 70px;
    max-height: 70px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav__link {
    text-decoration: none;
    margin-left: 3em;
    color: #020202;
    font-size: 15px;
}

.nav__title {
    text-align: center;
    font-weight: 700; 
}

.nav__user--signin {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}

.hero {
    height: 100vh;
    min-height: 500px;
    position: relative;
}

.hero::after {

}

.hero__container {
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    place-items: center;
    gap: 20px;
}

.hero__title {
    font-size: 3rem;
}

.hero__text {
    font-size: 1.2rem;
    margin: 20px 0;
}

.hero__cta {
    display: inline-block;
    background-color: #3f52bf;
    color: #f3f0f0;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

.hero__img {
    width: 95%;
}

.footer__paragraph {
    text-align: center;
    font-style: italic;
    color: #fc3838;
}